@import "./variables/colors.scss";
@import "./variables/sizes.scss";

$scrollbar-background: $pink;
$scrollbar-thumb: $red;

.grid {
  display: flex;
  overflow-x: scroll;
  overflow-y: hidden;

  // Scrollbar styling for FF
  scrollbar-color: $scrollbar-thumb $scrollbar-background;
  scrollbar-width: thin;

  // Scrollbar styling for Chrome, Edge, Safari
  &::-webkit-scrollbar {
    background-color: $scrollbar-background;
    height: $s;
  }
  &::-webkit-scrollbar-track {
    background-color: $scrollbar-background;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-thumb;
    border-radius: $l;
  }
}
